<h1 class="text-center">Available Cabs</h1>
<div class="container">
    {{#if data.role}}
    <a href="/addCab">
    <button class="btn btn-primary">Add Cab</button>
    </a>
    {{/if}}
    <table class="table table-striped mt-4">
        <tr>
            <th>Cab name</th>
            <th>Description</th>
            <th>Capacity</th>

            
        </tr>
        
        {{#if data.role}}

       {{#each cabDetails}}

       <tr>

         <td>{{this.dataValues.cabName}}</td>

         <td>{{this.dataValues.cabDescription}}</td>

         <td>{{this.dataValues.cabTotalCapacity}}</td>

         <td>

            <a style="color: green;" href="editCabDetails/{{this.dataValues.cabNo}}">Edit</a>|

            <a style="color: red;" href="deleteCabDetails/{{this.dataValues.cabNo}}">Delete</a>

         </td>

       </tr>

        {{/each}}



        {{else}}

        {{#each cabDetails}}

                <tr>

            <td>{{this.dataValues.cabName}}</td>

            <td>{{this.dataValues.cabDescription}}</td>

            <td>{{this.dataValues.cabTotalCapacity}}</td>

            <td>

                <a href="/booking/{{this.dataValues.cabNo}}">Book now</a>

            </td>

        </tr>
        {{/each}}

       {{/if}}
    </table>
    <p class="text-end">You are logged in as: 
        <b style="color: green;">{{data.firstName}} {{data.lastName}}</b>
    </p>
</div>
